<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memoire.studentnote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".infos.GestionsInformations"></activity>
        <activity android:name=".emplois.AjoutEmplois" />
<!--        <activity android:name=".emplois.SamediFragment" />-->
<!--        <activity android:name=".emplois.VendrediFragment" />-->
<!--        <activity android:name=".emplois.JeudiFragment" />-->
<!--        <activity android:name=".emplois.MercrediFragment" />-->
<!--        <activity android:name=".emplois.MardiFragment" />-->
        <activity android:name=".emplois.TableEmplois" /> <!-- <activity -->
        <!-- android:name=".emplois.TableEmplois" -->
        <!-- android:label="@string/title_activity_table_emplois" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <activity android:name=".Header_Activity" />
        <activity android:name=".enseignant.AjoutNote" />
        <activity android:name=".NoteAfficher" />
        <activity android:name=".BulletinSlidePageAdapter" />
        <activity android:name=".MatiereMenu" />
        <activity android:name=".ClasseMenu" />
        <activity android:name=".ActionMenu" />
        <activity android:name=".MenuTable" />
        <activity android:name=".Connection" />
        <activity android:name=".chat.Sender" />
        <activity
            android:name=".Inscription"
            android:label="@string/title_activity_inscription"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>